* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header#abertura {
    width: 100%;
    background-color: #333030;
    padding: 10px;
    box-shadow: 0 0 5px 1px #c0c0c0;
    margin: 0;
}

header img.logo-tt {
    /*position: absolute;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*left: 0;
    right: 0;
    top: 20px;*/
}

section#vis {
    max-width: 680px;
    margin: 0 auto;
    font-family: 'PT Serif', serif;
}

.nav-stepper {
    display: flex;
    flex-direction: row;
    padding: 0;
    border-bottom: 1px solid #333;
}

.nav-stepper ul {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.nav-stepper li {
    margin: 0 10px 0 0;
    list-style: none;
    font-size: 0.9em;
    padding: 0.4em 0.3em;
}

.nav-stepper ul.controle-prev-next > li {
    background-color: maroon;
    color: white;
}

.nav-stepper ul.steps > li {
    color: slategray;
    border-top: 2px solid white;
    border-bottom: 2px solid white;

}

.nav-stepper ul.steps > li.active {
    color: #333;
    font-weight: bold;
    border-bottom: 2px solid maroon;
    border-top: 2px solid maroon;
}

.comentarios {
    background-color: aquamarine;
}

.grafico-d3-container {
    background-color: ghostwhite;
}