section#vis {
    max-width: 680px;
    margin: 0 auto;
}

.nav-stepper ul {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.nav-stepper ul li {
    margin: 0 10px;
    list-style: none;
}