* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #FCFBFA;
}

header#abertura {
    width: 100%;
    background-color: #333030;
    padding: 10px;
    box-shadow: 0 0 5px 1px #c0c0c0;
    margin: 0;
}

header img.logo-tt {
    /*position: absolute;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*left: 0;
    right: 0;
    top: 20px;*/
}

section#vis {
    max-width: 680px;
    margin: 0 auto;
    font-family: 'Merriweather', serif;
}

section#vis h1 {
    text-align: center;
    color: #E32C10;
}

div.narrativa {
    background: rgba(255,255,255,.85);
    box-shadow: 1px 1px 3px rgba(0,0,0,.1);
    color: slategray;
    padding: 20px;
    font-size: 0.8rem;
}

/*

div.narrativa #botao-proximo {
    font-weight: bold;

}

.proximo-ativo {
    color: #E32C10;
    cursor: pointer;
}
*/

.proximo-inativo {
    color: slategray;
    cursor: auto;
}

/*
.piscante {
    font-weight: bold;
    cursor: pointer;
    color: #2E3D48;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: #E32C10;
    }
  }
  */

.textos-steps {    
}

.text-label {
    font-size: 0.8rem;
    font-family: 'Merriweather Sans', sans-serif;
}

.titulo-eixo, .titulo-eixo-var {
    font-size: 0.6rem;
    font-family: 'Merriweather Sans', sans-serif;
    fill: lightslategray;
}

.label-valores-linha {
    font-size: 0.7rem;
}

.label-inicial {
    font-size: 0.6rem;
    fill: lightslategray;
}

.axis text, text.label-inicial {
    fill: lightslategray;
    font-family: 'Merriweather Sans', sans-serif;
}

.axis line, .axis path {
    stroke: lightslategray;
}

.nav-stepper {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.nav-stepper ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 10px auto;
}

.nav-stepper li {
    margin: 0 2rem 0 0;
    list-style: none;
    font-size: 0.8em;
    padding: 0em;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
}

.nav-stepper ul.controle-prev-next > li {
    color: maroon;
    cursor: pointer;

}

.nav-stepper ul.steps > li {
    color: #CCC;
    border-bottom: 5px solid #CCC;
    text-align: center;
    cursor: pointer;
    font-size: 0.75rem;
}

.nav-stepper ul.steps > li.active {
    color: #333;
    border-bottom: 5px solid #333;
    /*background-color: maroon;*/
    text-align: center;
}

/* comentários */

.comentarios {
    background-color: aquamarine;
    position: relative;
}

.comentario {
    font-size: 12px;
    position: absolute;
    width: 90px;
    height: auto;
    background-color: ghostwhite;
    color: #333;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    pointer-events: none;
    padding: .5rem .75rem;
}

.annotation {
    font-size: 10px;
    position: absolute;
    width: 90px;
    height: auto;
    color: #333;
}

.annotation .caixa-valor {
    position: relative;
}

.annotation p.valor {
    font-size: 20px;
    color: #E32C10;
    font-weight: bold;
}

.annotation .caixa-valor .valor {
    position: absolute;
    top: 0;
    background-color: white; 
}

.annotation p {
    margin: 0;
    line-height: 1.5;
}

.invisivel {
    opacity: 0;
}