* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #FCFBFA;
}

header {
    width: 100%;
    background-color: #444;
    padding: 10px;
    box-shadow: 0 0 5px 1px #c0c0c0;
    margin: 0;
}

header img.logo-tt {
    /*position: absolute;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*left: 0;
    right: 0;
    top: 20px;*/
}

main {
    max-width: 680px;
    margin: 0 auto;
    padding: 0 5px;
    font-family: 'Merriweather', serif;
}

section#abertura h1 {
    text-align: center;
    font-size: 3rem;
    color: #444; /*#E32C10;*/
    line-height: 1.3
}

/* fiz isso aqui abaixo para o highlight ficar um pouco mais estreito */

section#abertura h1 span.obrig{
    display: inline-block;
    background-color: #ff2190;
    /*background: linear-gradient(to top, #ff2190 35%, transparent 100%);*/
    line-height: 1.15;
}



section#abertura h1 span.discr{
    display: inline-block;
    background-color: #FFE93B; 
    /*background: linear-gradient(to top, #FFE93B 35%, transparent 100%);*/
    line-height: 1.15;
}

section.prose {
    color: #444;
    line-height: 1.5;
}

section.prose p.nota {
    font-family: "Merriweather Sans";
    font-size: 0.7rem;
    color: #888;
}

section.prose p.nota a {
    text-decoration: none;
    border-bottom: 1px solid #888;
}

section.prose p.nota a:visited {
    color: #888;
    text-decoration: none;
    border-bottom: 1px solid #888;
}

section.prose p.nota a:hover{
    color: #FCFBFA;
    background-color: #888;

}


div.narrativa {
    background: rgba(255,255,255,.85);
    box-shadow: 1px 1px 3px rgba(0,0,0,.1);
    color: slategray;
    padding: 20px;
    font-size: 0.8rem;
}

div.narrativa .textos-steps {
    line-height: 1.5;
}


#botao-proximo {
    text-decoration: none;
}


.proximo-ativo {
    color: #E32C10;
    font-weight: bold;
    cursor: pointer;
}

.proximo-inativo {
    color: slategray;
    cursor: auto;
}

/*
.piscante {
    font-weight: bold;
    cursor: pointer;
    color: #2E3D48;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: #E32C10;
    }
  }
  */

.text-label {
    font-size: 0.8rem;
    font-family: 'Merriweather Sans', sans-serif;
}

.titulo-eixo, .titulo-eixo-var {
    font-size: 0.6rem;
    font-family: 'Merriweather Sans', sans-serif;
    fill: lightslategray;
}

.label-valores-linha {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.7rem;
}

.texto-circulos-step9 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 10px;
    alignment-baseline: central;
}

.label-inicial {
    font-size: 0.6rem;
    fill: lightslategray;
}

.axis text, text.label-inicial {
    fill: lightslategray;
    font-family: 'Merriweather Sans', sans-serif;
}

.axis line, .axis path {
    stroke: lightslategray;
}

.nav-stepper ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 10px auto;
}

.nav-stepper li {
    margin: 0 0.25rem;
    list-style: none;
    font-size: 0.8em;
    padding: 0em;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
}

.nav-stepper ul.controle-prev-next > li {
    color: maroon;
    cursor: pointer;

}

.nav-stepper ul.steps > li {
    color: #CCC;
    border-bottom: 5px solid #CCC;
    text-align: center;
    cursor: pointer;
    font-size: 0.75rem;
}

.nav-stepper ul.steps > li.active {
    color: #333;
    border-bottom: 5px solid #333;
    /*background-color: maroon;*/
    text-align: center;
}

/* comentários */

.comentarios {
    background-color: aquamarine;
    position: relative;
}

.comentario {
    font-size: 12px;
    position: absolute;
    width: 90px;
    height: auto;
    background-color: ghostwhite;
    color: #333;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    pointer-events: none;
    padding: .5rem .75rem;
}

.annotation {
    font-size: 10px;
    position: absolute;
    width: 90px;
    height: auto;
    color: #333;
}

.annotation .caixa-valor {
    position: relative;
}

.annotation p.valor {
    font-size: 20px;
    color: #E32C10;
    font-weight: bold;
}

.annotation .caixa-valor .valor {
    position: absolute;
    top: 0;
    background-color: white; 
}

.annotation p {
    margin: 0;
    line-height: 1.5;
}

.invisivel {
    opacity: 0;
}

.oculto {
    display: none;
}

